* {
    margin: 0;
    box-sizing: border-box;
}

.contenedor{
    display: flex;
    margin: 50px;
}

.TarjetaVerde{
    background-color:rgb(30, 57, 50);
}
.TarjetaRoja{
    background-color:rgb(213, 0, 50);
}
.TarjetaAzul{
    background-color:rgb(0, 68, 180);

}


.contenedor-imagen{
    width: 90%;
}

.imagen{
    width: 100%;
}

.contenedor-texto{
    width: 100%;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: SoDo Sans,Helvetica,Arial,sans-serif;
    align-content: center;
    justify-content: center;


}