*{
    margin: 0;
    box-sizing: border-box;
    font-family: SoDo Sans,Helvetica,Arial,sans-serif;
}

/*--------Contenedor general--------*/
.contenedor-tarjetas{
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*--------------Menú de Navegación--------------*/
.caja-nav{
    width: 100%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    padding: 15px;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 1230px;
    margin: 0 auto;   
}
.boton-nav{
    letter-spacing: .1em;
    background: none;
    border: 0px;
    font-size: 14px;
    cursor: pointer;
}
.boton-nav:hover{
    color: rgb(4, 102, 4);
}
.menu-izquierdo .nav-logo{
    width: 80%;
}
.menu-izquierdo .nav-item .boton-nav{
    text-transform: uppercase;
    letter-spacing: .15em;
}
.menu-izquierdo .nav-item:hover{

    border-bottom: 5px solid grey;
}
.nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}
.menu-derecho .nav-item #b-ingresar,#b-unete{
    border-radius: 50px;
    padding: 7px 16px;
    line-height: 1;

}
#b-ingresar{
    border: 1px solid black;
}

#b-unete{
    background-color: black;
    color: white;
}


/*-----Primeras tarjetas de colores horizontales-----*/
.tarjetas-colores{
    display: flex;
    flex-wrap: wrap;
    width: 1380px;
}
.tarjeta{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
/*Imagen y texto dentro de cada tarjeta horizontal*/
.contenedor-texto{
    width: 50%;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    color: white;
}
.contenedor-imagen{
    width: 50%;
}
.imagen{
    width: 100%;
}
.margenes-tex{
    margin-top: 50px;
}
.margen-lineas{
    margin-top: 10px;
}

/*Colores de las tarjetas principales horizontales*/
.tarjeta-verde{
    background-color:rgb(30, 57, 50);
}
.tarjeta-azul{
    background-color:rgb(0, 68, 180);
}
.tarjeta-roja{
    background-color:rgb(213, 0, 50);
}

/*--------Botones de tarjetas generales--------*/
.btn{
    background: none;
    border-radius: 50px;
    padding: 7px 16px;
    line-height: 1;
    font-size: 16px;
    cursor: pointer;
}
.btn-horizontal{
    border:1px solid white;
    color: white;
}
.btn-horizontal:hover {
    background-color:rgb(229, 1, 73);
}
.links{ 
/*Elimina la linea inferior del borde y 
el estilo de letra azulada*/
    color: inherit;
    text-decoration: none;
}

/*-----------Tarjetas VERTICALES----------------*/
.contenedor-tarj-verticales{
    display: flex;
}
    /*Contenido tarjetas verticales*/
.tarjeta-rosa{
    background-color:#f6bfd9;
    color: #d50032;
    border-right:15px solid white;
}
.tarjeta-azul-vertical{
    background-color:#98cde4;
    color: #003f52;
    border-left:15px solid white;
}
.contenedor-texto-vertical{
    text-align: center;
    font-size: 20px;
    padding: 33PX 0PX 30PX 0PX;
}
.color-rosa{
    border:1px solid #d50032;
}
.color-azul{
    border:1px solid #003f52;
}
.contenedor-texto-vertical button{
    color: inherit;
}


/*-------------FOOTER DE CONTACTO-----------*/
.footer{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-top: 20px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .2);
    
    
}

.footer .footer-contacto{
    padding: 30px 0px 60px 20px;
    display: flex;
    justify-content: start;
    gap: 50px;
}
.footer-contacto-info1 p{
    padding: 10px;
}
.footer .logos{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid gainsboro;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 22px;
    
}   

.logos i{
    font-size: 27px;
}

.texto-logos{
    color: black;
    opacity: 30%;
}

/*---------Aviso de cookies------------*/
.contenedor-caja-cookies{
    display: flex;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 15px;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .58);
}
.caja-aviso a{
    border-bottom: 2px solid black;
}
.aviso{
    font-weight: 700;
    color: black;
    padding-top: 8px;
}
.caja-aviso div{
    padding-top: 8px;
}
.caja-boton-aviso{
    padding: 10px;
}
.caja-boton-aviso a{
    background-color: black;
    color: white;
    font-weight: 700;
    text-decoration: none;
}
