*{
    margin: 0;
    box-sizing: border-box;
    font-family: SoDo Sans,Helvetica,Arial,sans-serif;
}

/*Contenedor general */

.contenedor-tarjetas{
    display: flex;
    justify-content: center;
}

/*Primeras tarjetas de colores horizontales*/
.tarjetas-colores{
    display: flex;
    flex-wrap: wrap;
    width: 1380px;
}
.tarjeta{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
/*Imagen y texto dentro de cada tarjeta horizontal*/
.contenedor-texto{
    width: 50%;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    color: white;
}
.contenedor-imagen{
    width: 50%;
}
.imagen{
    width: 100%;
}
.margenes-tex{
    margin-top: 50px;
}
.margen-lineas{
    margin-top: 10px;
}

/*Colores de las tarjetas principales horizontales*/
.tarjeta-verde{
    background-color:rgb(30, 57, 50);
}
.tarjeta-azul{
    background-color:rgb(0, 68, 180);
}
.tarjeta-roja{
    background-color:rgb(213, 0, 50);
}

/*Botones de tarjetas generales*/
.btn{
    background: none;
    border-radius: 50px;
    padding: 7px 16px;
    line-height: 1;
    font-size: 16px;
    cursor: pointer;
}
.btn-horizontal{
    border:1px solid white;
    color: white;
}
.btn-horizontal:hover {
    background-color:rgb(229, 1, 73);
}
.links{ 
/*Elimina la linea inferior del borde y 
el estilo de letra azulada*/
    color: inherit;
    text-decoration: none;
}

/*Tarjetas VERTICALES*/
.tarjeta-rosa{
    background-color:#f6bfd9;
    color: #d50032;
    border-right:15px solid white;
}
.tarjeta-azul-vertical{
    background-color:#98cde4;
    color: #003f52;
    border-left:15px solid white;
}
.contenedor-texto-vertical{
    text-align: center;
    font-size: 20px;
    padding: 33PX 0PX 30PX 0PX;
}

.color-rosa{
    border:1px solid #d50032;
    color: #d50032;
}
.color-azul{
    border:1px solid #003f52;
    color: #003f52;
}
